<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

body{
    font-family: 'Hedvig Letters Sans', sans-serif;
}

=======
.section_pc {
    display: flex;
    flex-direction: column;
    width: 940px;
    justify-content: center;
}

/* Estilizando o título */
>>>>>>> feature/futuro_RA
h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

<<<<<<< HEAD
h2{
    font-size: 22px;
    text-align: center;
    color: #333;
}

=======
/* Estilizando os parágrafos */
>>>>>>> feature/futuro_RA
.escrita p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

<<<<<<< HEAD
=======

/* Estilizando o contêiner */
>>>>>>> feature/futuro_RA
.escrita {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}